<app-navbar></app-navbar>
<div class="header-bg"></div>
<h1 class="jo">Nos Offres d'Emplois</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6 column-left mt-5">
            <img src="../../../../assets/images/Es.jpg" alt="" style="border-radius: 5px;">
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6 column-right mt-5">
            <h2 class="section-title">Executive Search & Recrutement</h2>
            <p class="paragraph">
                Vous avez besoin d’un partenaire RH qui puisse aborder vos besoins en compétences rares? Bâtir une stratégie de recrutement nécessite de prendre en compte les valeurs, les missions et les priorités de la stratégie de l’entreprise. Digital RH vous offre
                ce service. <br/> <a href="#">Lire plus ...</a>
            </p>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6 column-right mt-5">
            <h2 class="section-title">Conseil</h2>
            <p class="paragraph">
                Digital RH accompagne les entreprises dans leur stratégies RH en leur proposant du conseils en Gestion des Ressources Humaines. <br/> <a href="#">Lire plus ..</a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6 column-left mt-5">
            <img src="./assets/images/cydcor-communication-influence.jpg" alt="" style="border-radius: 5px;">
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6 column-left mt-5">
            <img src="./assets/images/formation.jpg" alt="" style="border-radius: 5px;">
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6 column-right mt-5">
            <h2 class="section-title">Formation</h2>
            <p class="paragraph">
                La compétitivité des marchés et les problématiques de Rétention des Talents poussent les organisations à viser l’Excellence. Dans ce cadre, la formation et le développement des compétences sont devenus des outils indispensables. Sous forme de Storytelling,
                Digital RH garantit des formations de qualité à ses clients. <br/> <a href="#">Lire plus ...</a>
            </p>
        </div>

    </div>
</div>

<div id="services" class="our-services section">
    <div class="services-right-dec">
        <img src="assets/images/services-right-dec.png" alt="">
    </div>
    <div class="container">
        <div class="services-left-dec">
            <img src="assets/images/services-left-dec.png" alt="">
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>
                        Recommandé par <em>des entrepreneurs </em> comme vous !
                    </h2>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>