<div id="app">
    <section class="section">
        <div class="d-flex flex-wrap align-items-stretch">
            <div class="col-lg-4 col-md-6 col-12 order-lg-1 min-vh-100 order-2 bg-white">
                <div class="p-4 m-3">
                    <img src="assets/images/myLogo.png" alt="logo" width="150" class="  mb-5 mt-2">
                    <h4 class="text-dark font-weight-normal">Bienvenue à <span class="font-weight-bold">DRH</span></h4>
                    <p class="text-muted">Avant de vous lancer, vous devez vous connecter ou contacter l'administration si vous n'avez pas encore de compte.</p>
                    <form class="needs-validation" [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" type="email" class="form-control" name="email" tabindex="1" formControlName="email" autofocus>
                            <div *ngIf="email?.touched && email?.invalid">
                                <small *ngIf="email?.errors?.required" class="text-danger">*Veuillez entrer votre email<br></small>
                                <small *ngIf="email?.errors?.email" class="text-danger">*Votre email est invalid<br></small>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="d-block">
                                <label for="code" class="control-label">Code</label>
                            </div>
                            <input id="code" type="password" class="form-control" name="code" tabindex="2" formControlName="code" autofocus>
                            <div *ngIf="code?.touched && code?.invalid">
                                <small *ngIf="code?.errors?.required" class="text-danger">*Veuillez entrer votre code<br></small>
                                <small *ngIf="code?.errors?.pattern" class="text-danger">*Code invalid<br></small>

                            </div>
                        </div>



                        <div class="form-group text-right">

                            <button class="btn btn-primary btn-user btn-block" type="submit" [disabled]="loginForm.invalid">
                                Se Connecter
                            </button>


                        </div>

                        <div class="mt-5 text-center">
                            Bienvenue, <a href="./index.html">Retournez à la page d'Accueil</a>
                        </div>
                    </form>


                </div>
            </div>
            <div class="col-lg-8 col-12 order-lg-2 order-1 min-vh-100 background-walk-y position-relative overlay-gradient-bottom" style="background-image: url('./assets/images/b1.jpg')">
                <div class="absolute-bottom-left index-2">
                    <div class="text-light p-5 pb-2">
                        <div class="mb-5 pb-3">
                            <h1 class="mb-2 display-4 font-weight-bold">Salut, </h1>
                            <h5 class="font-weight-normal text-muted-transparent">"Le succès arrive toujours lorsq'une opportunité rencontre la préparation."</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>