<div class="sidebar-mini fixed">
    <div class="wrapper">

        <!-- Navbar-->
        <app-topbar></app-topbar>
    </div>

    <!-- Side-Nav-->
    <app-sidebar></app-sidebar>
    <!-- Sidebar chat end-->

    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">

            <!-- Header Starts -->
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="main-header">
                        <h4>Digital RH</h4>
                        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Gestion</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Les Recrutements</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- Header end -->

            <!-- Tables start -->
            <!-- Row start -->

            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table m-b-0 photo-table">
                                    <thead>
                                        <tr class="text-uppercase">
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Ville</th>
                                            <th>Nationnalité</th>
                                            <th>Date de naissance</th>
                                            <th>N° Téléphone</th>
                                            <th>Email</th>
                                            <th>Poste</th>
                                            <th>Disponible à partir du</th>
                                            <th>Secteur</th>
                                            <th>CV</th>
                                            <th>Motivation</th>
                                            <th>Situation</th>
                                            <th>Diplôme</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let r of recrutementsList">
                                            <td>
                                                {{r.nom}}
                                            </td>
                                            <td>
                                                {{r.prenom}}
                                            </td>
                                            <td>{{r.ville}} </td>
                                            <td>{{r.nationnalite}} </td>
                                            <td>{{r.datenaissance}}
                                            </td>
                                            <td>{{r.telephone}}</td>
                                            <td>{{r.email}}
                                            </td>
                                            <td>{{r.poste}}</td>
                                            <td>{{r.dispo}}</td>
                                            <td>{{r.secteur}}</td>
                                            <td> {{r.cv}}
                                            </td>
                                            <td> {{r.motivation}}
                                            </td>
                                            <td> {{r.situation}}
                                            </td>
                                            <td> {{r.diplome}}
                                            </td>
                                            <td><button class="btn btn-success "><i class="fas fa-envelope "></i></button></td>
                                            <td>
                                                <button class="btn btn-danger " (click)="deleteRecrute(r)"><i class="fas fa-trash "></i></button>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Row end -->
            <!-- Tables end -->
        </div>

        <!-- Container-fluid ends -->
    </div>
</div>