<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="item header-text">
                                <h6>Bienvenue au Digital DRH</h6>
                                <h2>Utilisez ce site pour <em>digitaliser </em> les <span>tâches du DRH</span>?</h2>
                                <p>Contrôler tout au même endroit.</p>
                                <div class="down-buttons">
                                    <div class="main-blue-button-hover">
                                        <a href="#contact">Contacter nous maintenant</a>
                                    </div>
                                    <div class="call-button">
                                        <a href="#"><i class="fa fa-phone"></i> 010-020-0340</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="services" class="our-services section">
        <div class="services-right-dec">
            <img src="assets/images/services-right-dec.png" alt="service">
        </div>
        <div class="container">
            <div class="services-left-dec">
                <img src="assets/images/services-left-dec.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Nous fournissons <em>les meilleurs services </em> avec <span>nos outils</span></h2>
                        <span>Nos Services</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row col-lg-12 align-self-center">
                        <div class="item col">
                            <h4>Recherche & recrutement</h4>
                            <div class="icon"><img src="assets/images/service-icon-01.png" alt=""></div>
                            <p>Découvrez nos offres d'emplois et rejoigniez-nous ! </p>
                            <i class="fas fa-heart"></i>
                        </div>
                        <div class="item col">
                            <h4>Développement de compétences</h4>
                            <div class="icon"><img src="assets/images/service-icon-02.png" alt=""></div>
                            <p>On a tendance à exploiter les gens compétents</p>
                            <i class="fas fa-heart"></i>

                        </div>
                        <div class="item col">
                            <h4>Conseils</h4>
                            <div class="icon"><img src="assets/images/service-icon-03.png" alt=""></div>
                            <p>Ecoute les conseils de tous et prends celui qui te convient</p>
                            <i class="fas fa-heart"></i>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="about-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-image">
                        <img src="assets/images/about-left-image.png" alt="Two Girls working together">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Développez votre entreprise <em>avec notre site Web </em> et notre
                            <span>Digital gestion numérique RH</span></h2>
                        <p>Efficacité, réflexion, compétence, et expertise, sont les principaux atouts de Digital RH, qui est une Société de Conseil en développement RH, capable de répondre à vos moindres exigences en Matière de Ressources Humaines. </p>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="fact-item">
                                    <div class="count-area-content">
                                        <div class="icon">
                                            <img src="assets/images/service-icon-01.png" alt="">
                                        </div>
                                        <div class="count-digit">+13</div>
                                        <div class="count-title">Ans d'expérience</div>
                                        <p>Lorem ipsum dolor sitti amet, consectetur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="fact-item">
                                    <div class="count-area-content">
                                        <div class="icon">
                                            <img src="assets/images/service-icon-02.png" alt="">
                                        </div>
                                        <div class="count-digit">+640</div>
                                        <div class="count-title">Candidatures réçues</div>
                                        <p>Lorem ipsum dolor sitti amet, consectetur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="fact-item">
                                    <div class="count-area-content">
                                        <div class="icon">
                                            <img src="assets/images/service-icon-03.png" alt="">
                                        </div>
                                        <div class="count-digit">+500</div>
                                        <div class="count-title">Clients Satisfaits</div>
                                        <p>Lorem ipsum dolor sitti amet, consectetur.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="services" class="our-services section">

        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2><em>Ils nous ont fait confiance
                        </em></h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col item">
                    <img src="assets/images/formalab.png" alt="FormaLab Logo">
                </div>
                <div class="col item">
                    <img src="assets/images/formalab.png" alt="FormaLab Logo">
                </div>
                <div class="col item">
                    <img src="assets/images/formalab.png" alt="FormaLab Logo">
                </div>
                <div class="col item">
                    <img src="assets/images/formalab.png" alt="FormaLab Logo">
                </div>
                <div class="col item">
                    <img src="assets/images/formalab.png" alt="FormaLab Logo">
                </div>

            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>